name: Pruebas Automáticas CI

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  test-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout del código
        uses: actions/checkout@v3

      - name: Configurar Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Instalar dependencias
        run: npm ci # o el comando para tu gestor de paquetes

      - name: Ejecutar pruebas
        run: npm test # o el comando de pruebas de tu proyecto
